DATABASE_URL=postgres://postgres:postgres@localhost:5432/wagering
DATABASE_POOL_MAX=10
AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
SQS_OUTBOX_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions-events.fifo
SQS_INBOX_QUEUE_URL=http://localhost:4566/000000000000/wager-transactions.fifo
